$transparent: transparent;
$white:     #FFFFFF;
$theme: #4F5955;
$theme2: #F7F7F7;
$dark: #0E0E0E;
$sub: #F2EDDC;
$sub2: #D9C3A9;
$note: #9C9EA6;
$body-text: #535656;


$danger: #EF4444;
$success: #22C55E;
$warning: #FFBA08;
$info: #4C82F7;
