.note {
    @include text;
    font-size: 13px;
    color: #9C9EA6
}

.note2 {
    @include text;
    font-size: 13px;
    font-weight: 600;
    color: #9C9EA6
}

.label {
    @include text;
    font-weight: 700;
    color: $sub2;
}

.sub-title {
    @include text;
    font-size: 18px;
    font-weight: 500;
}

.sub-title2 {
    @include text;
    font-size: 16px;
    font-weight: 700;
}

.sub-title3 {
    @include text;
    font-size: 16px;
    font-weight: 500;
}

.sub-title4 {
    @include text;
    font-size: 14px;
    font-weight: 600;
}

.slide-text {
    @include text;
    font-size: 16px;
}

.quote {
    @include quote;
}

.sub2 {
    color: $sub2;
}