@mixin heading {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}


@mixin text {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

@mixin quote {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
}

