.about-us {
    color: $body-text;
    display: flex;
    padding-top: 100px;
    padding-bottom: 150px;
    gap: 60px;

    .about-founder {
        img {
            padding-bottom: 20px;
        }
        div {
            font-size: 16px;
            font-style: italic;
            color: $theme;
        }
    }

    .about-us-text {
        div {
            padding-top: 20px;
        }
        .quote {
            padding-top: 0;
            font-size: 20px;
        }
    }
}

.our-reviews {
    background-color: $theme2;
    color: $theme;
    display: flex;
    justify-content: space-between;

    .reviews {
        padding-top: 80px;
        padding-left: 400px;
        width: 43%;
        .section-title {
            .label {
                padding-bottom: 30px;
            }

        }
        .quote {
            color: #999999;
            padding-top: 20px;
            font-size: 20px;
            font-style: italic;
        }
        img {
            padding-top: 20px;
            padding-bottom: 20px;
        }
        .reviewer {
            color: #2D303A;
            font-size: 14px;
            .reviewer-workplace {
                font-size: 20px;
                font-style: italic;
            }
        }
    }
}

.our-experts {
    color: $theme;
    padding-top: 100px;
    padding-bottom: 80px;
    .section-title {
        text-align: center;
        padding-bottom: 20px;
        padding-left: 30%;
        padding-right: 30%;
    }
    .about-employees {
        .about-employee-large {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
            .large-employee-box {
                border: 1px solid #EAEAEA;
            }
            .employee-infolg {
                padding: 15px;
                .employee-name {
                    font-size: 22px;
                    font-weight: 600;
                }
            }
        }
        .about-employee-small {
            display: flex;
            justify-content: space-between;
            .small-employee-box {
                border: 1px solid #EAEAEA;
            }
            .employee-infolg {
                padding: 15px;
                .employee-name {
                    font-size: 18px;
                    font-weight: 600;
                }
            }
        }
    }
}