header {
    .header-top {
        background-color: $theme;
        color: $body-text;
        .header-top-container {
            display: flex;
            justify-content: space-between;
            padding: 10px;
            font-size: 12px;
            background-color: $theme;
            color: $white;
            .social {
                display: flex;
                a {
                    color: $white !important;
                    div {
                        padding-left: 7px;
                        padding-right: 7px;
                    }
                    .social-box {
                        border-left: 1px solid #606966;
                        border-right: 1px solid #606966;
                    }
                }

            }
            @media(min-width:1400px) {
                font-size: 13px;
                .social {
                    a {
                        font-size: 16px;
                        div {
                            padding-left: 15px;
                            padding-right: 15px;
                        }
                    }
                }
            }
        }
    }
    .header-mid {
        padding: 10px;
        img {
            display: none;
        }
        nav {
            display: flex;
            gap: 10px;
            margin-top: 10px;
            a {
                color: $theme;
            }
            .current-nav {
                color: $sub2;
            }
        }

        @media(min-width: 1400px) {
            display: flex;
            justify-content: space-between;
            padding-top: 15px;
            padding-bottom: 15px;
            img {
                display: block;
            }
            nav {
                gap: 40px;
            }
            .search {
                margin-top: 10px;
                a {
                    color: $theme;
                }
            }
        }

    }
    .header-bottom {
        position: relative;
        background-color: $theme2;
        background-image: url('images/header-img.svg');
        background-size: cover;
        background-position: center;
        .header-bottom-container {
            display: block;
            font-size: 12px;
            .header-headline {
                position: absolute;
                z-index: 1;
                bottom: 40%;
                left: 50%;
            }
            .header-navigation {
                position: absolute;
                z-index: 1;
                bottom: 40%;
                left: 52.5%;
                display: flex;
                gap: 5px;
                i {
                    font-size: 10px;
                }
                .sub2 {
                    color: $sub2;
                }
            }
        }
    }

}