.hero {
    position: relative;    
    color: $body-text;

    .hero-bg {
        position: absolute;
        z-index: -1;
    }
    .hero-top {
        padding-top: 100px;
        padding-bottom: 200px;
        .hero-headline {
            width: 45%;
            h1 {
                font-size: 70px;
                
            }
            .hero-ingress {
                padding-bottom: 15px;
            }

            .btn-primary {
                background-color: $theme;
                color: $sub;
            }
        }
    }
    .hero-bottom {
        .hero-text-box {
            width: 60%;
            .label {
                color: $sub2;
            }
            h2 {
                padding-bottom: 20px;
            }
            .quote {
                padding-bottom: 10px;
            }
            .hero-about-text {
                padding-bottom: 10px;
            }
            .signature {
                padding-top: 5px;
                padding-bottom: 100px;
            }
        }
    }
    .request-box {
        background-color: white;
        display: block;
        position: absolute;
        width: 22%;
        border-radius: 2px;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
        right: 10%;
        top: 42%;
        padding-bottom: 30px;

        .request-title {
            padding: 30px;
            background-color: $theme;
            color: $sub;
            border-radius: 2px;
            h3 {
                margin: 0;
            }
        }

        .request-ingress {
            padding: 30px;
            @include quote;
            font-size: 13px;
        }

        .request-form {
            form {
                display: block;
                text-align: center;
                input {
                    padding: 10px;
                    width: 90%;
                    border: 1px solid #EBEBEB;
                    border-radius: 4px;
                }
                select {
                    padding: 10px;
                    width: 90%;
                    border: 1px solid #EBEBEB;
                    border-radius: 4px;
                }
                div {
                    padding-bottom: 20px;
                }
                .btn-secondary {
                    padding: 10px;
                    width: 90%;
                    background-color: $sub;
                    color: $theme;
                    border: none;
                }
            }
        }
    }
}