.our-success {
    background-color: $theme;
    color: $white;
    margin-bottom: 50px;
    position: relative;
    img {
        position: absolute;
        z-index: 1;
        left: 25%;
        right: 25%;
        bottom: -150px;
    }
    .world-bg {
        top: -200px;
        position: absolute;
        z-index: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
    .container {
        padding-top: 80px;
        height: 800px;
        text-align: center;
        .success-content {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 60px;
            .success-grp {
                h1 {font-size: 70px;}
                p {font-weight: 600;}
            }
        }
    }
}