.riskmanagement {
    display: grid;
    grid-template-columns: 1fr 3fr;
    color: $theme;
    padding-top: 60px;
    
    .risk-sidebar{
        border-right: 1px solid #EAEAEA;
        padding-right: 20px;
    }
    img {
        padding-bottom: 10px;
        width: 100%;
    }
    .mail-form {
        background-color: $theme;
        color: $sub;
        padding: 20px;
        margin-top: 20px;
        border-radius: 5px;
        .form-ingress {
            color: $white;
            padding-bottom: 20px;
        }
        form {
            input {
                border: none;
                border-radius: 5px;
                padding: 10px;
                width: 100%;
                margin-bottom: 15px;
            }
        }
    }
    
    .risk-content{
        padding-left: 35px;
        h4 { padding-top: 10px;}
        div { padding-top: 10px;}
        .point-list {
            color: $sub2;
            div {
                color: $body-text;
            }
        }
        #img2-risk {
            padding-top: 20px;
        }
    }
}

.risk-form {
    padding-top: 40px;
    padding-bottom: 80px;
    width: 100%;
    h4 { padding-bottom: 10px;}
    form {
        display: grid;
        grid-template-areas: "name email" "question question" "submit submit";
        gap: 20px;

        input {
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #EAEAEA;
        }
        textarea {
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #EAEAEA;
            resize: none;
            height: 8rem;
        }
        #name {
            grid-area: name;
        }
        #email {
            grid-area: email;
        }
        #question {
            grid-area: question;
        }
        .btn-primary {
            grid-area: submit;
            padding: 10px;
            background-color: $theme;
            color: $sub;
            width: 10%;
        }
    }
}