.btn-dark, .btn-primary, .btn-secondary, .btn-accent, .btn-gray, .btn-light {
    @include btn;
    color: $body-text;
    background-color: $transparent;
}

.btn-menu {
    height: 50px;
    width: 50px;
    font-size: 1.5rem;
    color: $body-text;
    background-color: $transparent;
    border: 1px solid;
    border-radius: 5px;
}