@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: smooth;
    }
}

*, *::before, *::after {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html, body, section, div, header, footer, main, aside, nav, blockquote, p {
    margin: 0;
    padding: 0;
}

img, svg {
    vertical-align: middle;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #535656;
}

.main-title {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 70px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin-top: 0;
    margin-bottom: 0.5em;
    line-height: 1.4;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 25px;
}

h5 {
    font-size: 22px;
    font-weight: 600;
}

h6 {
    font-size: 18px;
}

.note {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    color: #9C9EA6;
}

.note2 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    font-weight: 600;
    color: #9C9EA6;
}

.label {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-weight: 700;
    color: #D9C3A9;
}

.sub-title {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    font-weight: 500;
}

.sub-title2 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    font-weight: 700;
}

.sub-title3 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
}

.sub-title4 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    font-weight: 600;
}

.slide-text {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

.quote {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.sub2 {
    color: #D9C3A9;
}

.btn-dark, .btn-primary, .btn-secondary, .btn-accent, .btn-gray, .btn-light {
    display: inline-block;
    padding: 15px 40px;
    border: 1px solid;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none !important;
    color: #535656;
    background-color: transparent;
}

    .btn-dark:hover, .btn-primary:hover, .btn-secondary:hover, .btn-accent:hover, .btn-gray:hover, .btn-light:hover {
        transition: 0.3s;
        text-decoration: none;
    }

.btn-menu {
    height: 50px;
    width: 50px;
    font-size: 1.5rem;
    color: #535656;
    background-color: transparent;
    border: 1px solid;
    border-radius: 5px;
}

a {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    cursor: pointer;
}

    a:hover {
        text-decoration: underline;
    }

header .header-top {
    background-color: #4F5955;
    color: #535656;
}

    header .header-top .header-top-container {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        font-size: 12px;
        background-color: #4F5955;
        color: #FFFFFF;
    }

        header .header-top .header-top-container .social {
            display: flex;
        }

            header .header-top .header-top-container .social a {
                color: #FFFFFF !important;
            }

                header .header-top .header-top-container .social a div {
                    padding-left: 7px;
                    padding-right: 7px;
                }

                header .header-top .header-top-container .social a .social-box {
                    border-left: 1px solid #606966;
                    border-right: 1px solid #606966;
                }

@media (min-width: 1400px) {
    header .header-top .header-top-container {
        font-size: 13px;
    }

        header .header-top .header-top-container .social a {
            font-size: 16px;
        }

            header .header-top .header-top-container .social a div {
                padding-left: 15px;
                padding-right: 15px;
            }
}

header .header-mid {
    padding: 10px;
}

    header .header-mid img {
        display: none;
    }

    header .header-mid nav {
        display: flex;
        gap: 10px;
        margin-top: 10px;
    }

        header .header-mid nav a {
            color: #4F5955;
        }

        header .header-mid nav .current-nav {
            color: #D9C3A9;
        }

@media (min-width: 1400px) {
    header .header-mid {
        display: flex;
        justify-content: space-between;
        padding-top: 15px;
        padding-bottom: 15px;
    }

        header .header-mid img {
            display: block;
        }

        header .header-mid nav {
            gap: 40px;
        }

        header .header-mid .search {
            margin-top: 10px;
        }

            header .header-mid .search a {
                color: #4F5955;
            }
}

header .header-bottom {
  position: relative;
  background-color: #F7F7F7;
  height: 250px;
}
header .header-bottom img {
  position: absolute;
}
header .header-bottom .header-bottom-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  font-size: 12px;
}
header .header-bottom .header-bottom-container .header-navigation {
  display: flex;
  gap: 5px;
  justify-content: center;
}

footer {
    background-color: #0E0E0E;
    color: #4F5955;
    padding: 15px;
}

    footer .sub2 {
        color: #D9C3A9;
    }

    footer .container {
        display: flex;
        gap: 3px;
    }

.hero {
    position: relative;
    color: #535656;
}

    .hero .hero-bg {
        position: absolute;
        z-index: -1;
    }

    .hero .hero-top {
        padding-top: 100px;
        padding-bottom: 200px;
    }

        .hero .hero-top .hero-headline {
            width: 45%;
        }

            .hero .hero-top .hero-headline h1 {
                font-size: 70px;
            }

            .hero .hero-top .hero-headline .hero-ingress {
                padding-bottom: 15px;
            }

            .hero .hero-top .hero-headline .btn-primary {
                background-color: #4F5955;
                color: #F2EDDC;
            }

    .hero .hero-bottom .hero-text-box {
        width: 60%;
    }

        .hero .hero-bottom .hero-text-box .label {
            color: #D9C3A9;
        }

        .hero .hero-bottom .hero-text-box h2 {
            padding-bottom: 20px;
        }

        .hero .hero-bottom .hero-text-box .quote {
            padding-bottom: 10px;
        }

        .hero .hero-bottom .hero-text-box .hero-about-text {
            padding-bottom: 10px;
        }

        .hero .hero-bottom .hero-text-box .signature {
            padding-top: 5px;
            padding-bottom: 100px;
        }

    .hero .request-box {
        background-color: white;
        display: block;
        position: absolute;
        width: 22%;
        border-radius: 2px;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
        right: 10%;
        top: 42%;
        padding-bottom: 30px;
    }

        .hero .request-box .request-title {
            padding: 30px;
            background-color: #4F5955;
            color: #F2EDDC;
            border-radius: 2px;
        }

            .hero .request-box .request-title h3 {
                margin: 0;
            }

        .hero .request-box .request-ingress {
            padding: 30px;
            font-family: "Poppins", sans-serif;
            font-weight: 300;
            font-style: italic;
            font-size: 13px;
        }

        .hero .request-box .request-form form {
            display: block;
            text-align: center;
        }

            .hero .request-box .request-form form input {
                padding: 10px;
                width: 90%;
                border: 1px solid #EBEBEB;
                border-radius: 4px;
            }

            .hero .request-box .request-form form select {
                padding: 10px;
                width: 90%;
                border: 1px solid #EBEBEB;
                border-radius: 4px;
            }

            .hero .request-box .request-form form div {
                padding-bottom: 20px;
            }

            .hero .request-box .request-form form .btn-secondary {
                padding: 10px;
                width: 90%;
                background-color: #F2EDDC;
                color: #4F5955;
                border: none;
            }

.services {
    padding-top: 80px;
    padding-bottom: 80px;
    color: #535656;
}

    .services .container {
        display: block;
    }

        .services .container .section-title {
            text-align: center;
            justify-content: space-around;
        }

            .services .container .section-title .label {
                color: #D9C3A9;
            }

            .services .container .section-title .section-title-text {
                padding-left: 275px;
                padding-right: 275px;
            }

        .services .container .services-content {
            text-align: start;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 20px;
        }

            .services .container .services-content .service-box {
                background-color: #FFFFFF;
                border: 2px solid #F7F7F7;
                border-radius: 5px;
            }

                .services .container .services-content .service-box img {
                    width: 100%;
                }

                .services .container .services-content .service-box div {
                    padding: 25px;
                }

.grey-bg {
    background-color: #F7F7F7;
}

.no-label .section-title .label {
    display: none;
}

.our-story {
    color: #535656;
}

    .our-story .our-story-content {
        position: relative;
        display: block;
        justify-content: center;
        text-align: center;
        padding-top: 100px;
    }

        .our-story .our-story-content .world-bg {
            padding-top: 70px;
            position: absolute;
            z-index: -1;
            left: 0;
            right: 0;
            margin: auto;
        }

        .our-story .our-story-content .our-story-title {
            padding-bottom: 40px;
            color: #4F5955;
        }

            .our-story .our-story-content .our-story-title .sub2 {
                color: #D9C3A9;
            }

        .our-story .our-story-content .our-story-text {
            padding-bottom: 40px;
            margin-left: auto;
            margin-right: auto;
            width: 60%;
        }

        .our-story .our-story-content .btn-primary {
            background-color: #4F5955;
            color: #F7F7F7;
        }

        .our-story .our-story-content img {
            padding-top: 80px;
        }

.recent-projects {
    margin-top: 200px;
}

.recent-projects .section-title {
    color: #535656;
}

    .recent-projects .section-title .label {
        color: #D9C3A9;
    }

.recent-projects .recent-projects-content {
    display: flex;
    position: relative;
}

    .recent-projects .recent-projects-content a {
        color: #FFFFFF !important;
        text-decoration: none;
    }

    .recent-projects .recent-projects-content .recent-projects-box {
        width: 100%;
        display: flex;
    }

        .recent-projects .recent-projects-content .recent-projects-box img {
            position: absolute;
            z-index: -1;
            width: 25%;
        }

        .recent-projects .recent-projects-content .recent-projects-box .recent-projects-text {
            display: flex;
            background-color: rgba(79, 89, 85, 0.6);
            margin-top: 83.5%;
            width: 100%;
            padding: 20px;
            gap: 110px;
        }

            .recent-projects .recent-projects-content .recent-projects-box .recent-projects-text .active-project {
                display: none;
            }

                .recent-projects .recent-projects-content .recent-projects-box .recent-projects-text .active-project i {
                    font-size: 50px;
                }

        .recent-projects .recent-projects-content .recent-projects-box:hover .recent-projects-text {
            padding-top: 30px;
            padding-bottom: 30px;
            margin-top: 79.2%;
            background-color: #4F5955;
            transition: 0.3s ease-in-out;
        }
        
        .recent-projects .recent-projects-content .recent-projects-box:hover .recent-projects-text .sub-title1 {
            color: #D9C3A9;
        }
        
        .recent-projects .recent-projects-content .recent-projects-box:hover .active-project {
            display: block;
        }

.partners {
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 60px;
}

.about-us {
    color: #535656;
    display: flex;
    padding-top: 100px;
    padding-bottom: 150px;
    gap: 60px;
}

    .about-us .about-founder img {
        padding-bottom: 20px;
    }

    .about-us .about-founder div {
        font-size: 16px;
        font-style: italic;
        color: #4F5955;
    }

    .about-us .about-us-text div {
        padding-top: 20px;
    }

    .about-us .about-us-text .quote {
        padding-top: 0;
        font-size: 20px;
    }

.our-reviews {
    background-color: #F7F7F7;
    color: #4F5955;
    display: flex;
    justify-content: space-between;
}

    .our-reviews .reviews {
        padding-top: 80px;
        padding-left: 400px;
        width: 43%;
    }

        .our-reviews .reviews .section-title .label {
            padding-bottom: 30px;
        }

        .our-reviews .reviews .quote {
            color: #999999;
            padding-top: 20px;
            font-size: 20px;
            font-style: italic;
        }

        .our-reviews .reviews img {
            padding-top: 20px;
            padding-bottom: 20px;
        }

        .our-reviews .reviews .reviewer {
            color: #2D303A;
            font-size: 14px;
        }

            .our-reviews .reviews .reviewer .reviewer-workplace {
                font-size: 20px;
                font-style: italic;
            }

.our-experts {
    color: #4F5955;
    padding-top: 100px;
    padding-bottom: 80px;
}

    .our-experts .section-title {
        text-align: center;
        padding-bottom: 20px;
        padding-left: 30%;
        padding-right: 30%;
    }

    .our-experts .about-employees .about-employee-large {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }

        .our-experts .about-employees .about-employee-large .large-employee-box {
            border: 1px solid #EAEAEA;
        }

        .our-experts .about-employees .about-employee-large .employee-infolg {
            padding: 15px;
        }

            .our-experts .about-employees .about-employee-large .employee-infolg .employee-name {
                font-size: 22px;
                font-weight: 600;
            }

    .our-experts .about-employees .about-employee-small {
        display: flex;
        justify-content: space-between;
    }

        .our-experts .about-employees .about-employee-small .small-employee-box {
            border: 1px solid #EAEAEA;
        }

        .our-experts .about-employees .about-employee-small .employee-infolg {
            padding: 15px;
        }

            .our-experts .about-employees .about-employee-small .employee-infolg .employee-name {
                font-size: 18px;
                font-weight: 600;
            }

.contact {
    position: relative;
    color: #4F5955;
}

    .contact .contact-bg {
        padding-top: 60px;
        position: absolute;
        background-color: #F7F7F7;
        z-index: -1;
        width: 100%;
    }

        .contact .contact-bg .contact-bgimg {
            bottom: 0;
        }

    .contact .contact-content {
        display: flex;
        align-items: center;
        gap: 300px;
    }

        .contact .contact-content .contact-img {
            padding-top: 20px;
        }

        .contact .contact-content .contact-box {
            width: 35%;
        }

            .contact .contact-content .contact-box .contact-grp {
                padding-top: 30px;
            }

                .contact .contact-content .contact-box .contact-grp div {
                    align-items: center;
                    display: flex;
                    gap: 15px;
                }

                .contact .contact-content .contact-box .contact-grp .contact-text {
                    padding-left: 30px;
                    font-style: italic;
                }

.no-bgcolor .contact-bg {
  background-color: transparent;
}

.riskmanagement {
    display: grid;
    grid-template-columns: 1fr 3fr;
    color: #4F5955;
    padding-top: 60px;
}

    .riskmanagement .risk-sidebar {
        border-right: 1px solid #EAEAEA;
        padding-right: 20px;
    }

    .riskmanagement img {
        padding-bottom: 10px;
        width: 100%;
    }

    .riskmanagement .mail-form {
        background-color: #4F5955;
        color: #F2EDDC;
        padding: 20px;
        margin-top: 20px;
        border-radius: 5px;
    }

        .riskmanagement .mail-form .form-ingress {
            color: #FFFFFF;
            padding-bottom: 20px;
        }

        .riskmanagement .mail-form form input {
            border: none;
            border-radius: 5px;
            padding: 10px;
            width: 100%;
            margin-bottom: 15px;
        }

    .riskmanagement .risk-content {
        padding-left: 35px;
    }

        .riskmanagement .risk-content h4 {
            padding-top: 10px;
        }

        .riskmanagement .risk-content div {
            padding-top: 10px;
        }

        .riskmanagement .risk-content .point-list {
            color: #D9C3A9;
        }

            .riskmanagement .risk-content .point-list div {
                color: #535656;
            }

        .riskmanagement .risk-content #img2-risk {
            padding-top: 20px;
        }

.risk-form {
    padding-top: 40px;
    padding-bottom: 80px;
    width: 100%;
}

    .risk-form h4 {
        padding-bottom: 10px;
    }

    .risk-form form {
        display: grid;
        grid-template-areas: "name email" "question question" "submit submit";
        gap: 20px;
    }

        .risk-form form input {
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #EAEAEA;
        }

        .risk-form form textarea {
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #EAEAEA;
            resize: none;
            height: 8rem;
        }

        .risk-form form #name {
            grid-area: name;
        }

        .risk-form form #email {
            grid-area: email;
        }

        .risk-form form #question {
            grid-area: question;
        }

        .risk-form form .btn-primary {
            grid-area: submit;
            padding: 10px;
            background-color: #4F5955;
            color: #F2EDDC;
            width: 10%;
        }

.contact-us {
    position: relative;
    color: #535656;
}

    .contact-us img {
        padding-bottom: 40px;
    }

    .contact-us .contact-form-bx {
        background-color: #FFFFFF;
        position: absolute;
        z-index: 1;
        left: 25%;
        right: 25%;
        bottom: 200px;
        padding: 40px;
        border-radius: 5px;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    }

        .contact-us .contact-form-bx .section-title {
            text-align: center;
            padding-left: 20%;
            padding-right: 20%;
        }

        .contact-us .contact-form-bx .quote {
            text-align: center;
            padding-left: 15%;
            padding-right: 15%;
        }

        .contact-us .contact-form-bx form {
            display: grid;
            grid-template-areas: "name phone" "email service" "btn btn";
            gap: 15px;
            padding-top: 25px;
        }

            .contact-us .contact-form-bx form input {
                width: 100%;
                padding: 10px;
                border-radius: 5px;
                border: 1px solid #EAEAEA;
            }

            .contact-us .contact-form-bx form #c-name {
                grid-area: name;
            }

            .contact-us .contact-form-bx form #c-phone {
                grid-area: phone;
            }

            .contact-us .contact-form-bx form #c-email {
                grid-area: email;
            }

            .contact-us .contact-form-bx form #c-service {
                grid-area: service;
                width: 100%;
                padding: 10px;
                border-radius: 5px;
                border: 1px solid #EAEAEA;
                color: #535656;
            }

            .contact-us .contact-form-bx form .btn-primary {
                grid-area: btn;
                background-color: #4F5955;
                color: #F2EDDC;
                width: 20%;
                margin-left: auto;
                margin-right: auto;
            }

.our-projects {
    display: grid;
    grid-template-columns: 2.8fr 1fr;
    padding-top: 40px;
    color: #535656;
}

    .our-projects h5 {
        color: #4F5955;
        margin-bottom: 5px;
    }

    .our-projects .projects-content {
        padding-bottom: 30px;
        border-right: 1px solid #EAEAEA;
        padding-right: 80px;
    }

        .our-projects .projects-content .project-box {
            display: flex;
            gap: 30px;
            padding-top: 25px;
            padding-bottom: 25px;
            border-bottom: 1px solid #EAEAEA;
        }

            .our-projects .projects-content .project-box .note {
                padding-bottom: 12px;
            }

                .our-projects .projects-content .project-box .note i {
                    margin-right: 5px;
                }

            .our-projects .projects-content .project-box .project-ingress {
                padding-bottom: 30px;
            }

            .our-projects .projects-content .project-box .sub-title4 i {
                margin-left: 10px;
            }

        .our-projects .projects-content .last-box {
            border-bottom: none;
        }

    .our-projects .project-sidebar {
        padding-left: 35px;
    }

        .our-projects .project-sidebar .tags {
            display: flex;
            flex-wrap: wrap;
            gap: 15px;
            padding-top: 10px;
            padding-bottom: 40px;
            text-align: center;
        }

            .our-projects .project-sidebar .tags div {
                font-size: 13px;
                border: 1.5px solid #EAEAEA;
                border-radius: 20px;
                padding: 10px 20px 10px 20px;
                margin-left: 5px;
            }

        .our-projects .project-sidebar .mail-form {
            background-color: #4F5955;
            color: #F2EDDC;
            padding: 20px;
            margin-top: 20px;
            border-radius: 5px;
        }

            .our-projects .project-sidebar .mail-form h5 {
                color: #F2EDDC;
            }

            .our-projects .project-sidebar .mail-form .form-ingress {
                color: #FFFFFF;
                padding-bottom: 20px;
            }

            .our-projects .project-sidebar .mail-form form input {
                border: none;
                border-radius: 5px;
                padding: 10px;
                width: 100%;
                margin-bottom: 15px;
            }

.our-success {
    background-color: #4F5955;
    color: #FFFFFF;
    margin-bottom: 50px;
    position: relative;
}

    .our-success img {
        position: absolute;
        z-index: 1;
        left: 25%;
        right: 25%;
        bottom: -150px;
    }

    .our-success .world-bg {
        top: -200px;
        position: absolute;
        z-index: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

    .our-success .container {
        padding-top: 80px;
        height: 800px;
        text-align: center;
    }

        .our-success .container .success-content {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 60px;
        }

            .our-success .container .success-content .success-grp h1 {
                font-size: 70px;
            }

            .our-success .container .success-content .success-grp p {
                font-weight: 600;
            }


.annual-report {
  display: grid;
  grid-template-columns: 2.8fr 1fr;
  padding-top: 80px;
  color: #535656;
}
.annual-report .annual-report-content {
  padding-right: 50px;
  border-right: 1px solid #F7F7F7;
}
.annual-report .annual-report-content .note {
  padding-bottom: 20px;
}
.annual-report .annual-report-content #annual-img1 {
  padding-top: 10px;
  padding-bottom: 30px;
}
.annual-report .annual-report-content .annual-list {
  color: #5D8C87;
}
.annual-report .annual-report-content .annual-list div {
  color: #4F5955;
}
.annual-report .annual-report-content .annual-section2 {
  display: flex;
  gap: 30px;
  padding-bottom: 30px;
}
.annual-report .annual-report-content .annual-section2 h6 {
  padding-top: 5px;
}
.annual-report .annual-report-content .annual-section2 p {
  padding-bottom: 15px;
}
.annual-report .annual-report-content .annual-section3 p {
  padding-bottom: 15px;
}
.annual-report .annual-report-content .annual-section3 img {
  padding-top: 10px;
}
.annual-report .annual-report-content .annual-section4 {
  padding-top: 20px;
}
.annual-report .annual-report-content .annual-section4 p {
  padding-bottom: 15px;
}
.annual-report .annual-report-content .tag-container {
  display: flex;
  gap: 20px;
  text-align: center;
}
.annual-report .annual-report-content .tag-container p {
  margin-top: 17px;
}
.annual-report .annual-report-content .tag-container .tags-sub2 {
  display: flex;
  gap: 15px;
  padding-top: 10px;
  padding-bottom: 40px;
}
.annual-report .annual-report-content .tag-container .tags-sub2 div {
  font-size: 13px;
  background-color: #F2EDDC;
  border-radius: 20px;
  padding: 8px 15px 8px 15px;
  margin-left: 5px;
}
.annual-report .annual-sidebar {
  padding-left: 50px;
}
.annual-report .annual-sidebar .sidebar-recent .recent-grp {
  display: flex;
  gap: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #F7F7F7;
}
.annual-report .annual-sidebar .sidebar-recent .last-grp {
  border: none;
}
.annual-report i {
    margin-right: 5px;
}
.annual-report .annual-sidebar .tags {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding-top: 10px;
  padding-bottom: 40px;
  text-align: center;
}
.annual-report .annual-sidebar .tags div {
  font-size: 13px;
  border: 1.5px solid #EAEAEA;
  border-radius: 20px;
  padding: 10px 20px 10px 20px;
  margin-left: 5px;
}
.annual-report .annual-sidebar .mail-form {
  background-color: #4F5955;
  color: #F2EDDC;
  padding: 20px;
  margin-top: 20px;
  border-radius: 5px;
}
.annual-report .annual-sidebar .mail-form h5 {
  color: #F2EDDC;
}
.annual-report .annual-sidebar .mail-form .form-ingress {
  color: #FFFFFF;
  padding-bottom: 20px;
}
.annual-report .annual-sidebar .mail-form form input {
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  margin-bottom: 15px;
}